@import url("layout.css");

.about .container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 3rem;
  align-items: center;
  justify-content: center;
  justify-items: center;
  margin-left: 20px;
}

.about h1 {
  font-size: 45pt;
  font-weight: 700;
  color: var(--mainWhite);
  letter-spacing: 1.5px !important;
  padding-left: 15px;
  margin-left: 20px;
}

.about h1::after {
  display: inline-block;
  content: "";
  border-top: 1px solid var(--mainWhite);
  width: 12rem;
  margin: 0 1rem;
  transform: translateY(-1rem);
}

.about p {
  margin: 1.5rem 0;
  color: var(--mainBlue);
  font-size: 16px;
  font-family: Raleway, sans-serif !important;
}

.resume {
  padding-left: 15px;
  margin-top: 8px;
  margin-left: 20px;
}

.about a {
  color: var(--mainDark);
  background-color: var(--mainBlue);
  font-size: 0.8rem;
  font-family: "Raleway", sans-serif !important;
  font-weight: 600;
  background: linear-gradient(
    to bottom,
    var(--mainGreen) 0%,
    var(--mainGreen) 100%
  );
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: 2px 2px;
  color: hsl(0, 0%, 100%);
  text-decoration: none;
  transition: background-size 0.2s;
  box-shadow: none;
  border-image: none;
  border-radius: 0;
  padding: 0;
  text-decoration: none;
  text-transform: none;
  margin: 0;
  font-size: 16px;
}

.about a:hover {
  box-shadow: none;
  background-size: 4px 50px;
}

.about .resume a {
  text-transform: uppercase;
  padding: 10px;
}

@media (max-width: 768px) {
  .about .container {
    grid-template-columns: 1fr;
    text-align: left;
    grid-gap: 0;
    padding: 0;
    margin: 0;
  }

  .about .container div:first-child {
    order: 2;
  }

  .about .container div:nth-child(2) {
    order: -1;
  }

  .about h1 {
    font-size: 20pt;
    font-weight: 700;
    color: var(--mainWhite);
    letter-spacing: 1.5px !important;
    padding-left: 0;
    padding-bottom: 20px;
    margin: 0;
  }

  .about h1::after {
    display: inline-block;
    content: "";
    border-top: 1px solid var(--mainWhite);
    width: 9rem;
    margin: 0 1rem;
    transform: translateY(-8px);
  }
  .about img {
    width: 60%;
    margin: auto;
    align-content: flex-start;
  }
  .about p {
    margin: 1rem 0;
    color: var(--mainBlue);
    font-size: 10pt;
    font-family: Raleway, sans-serif !important;
  }
  .resume {
    padding-left: 0px;
    margin-top: 8px;
    margin-left: 0px;
  }
  .about a {
    font-size: 10pt;
  }
}

/* .about a {
  cursor: pointer;
  margin-top: 0px;
  border-image: initial;
  border-radius: 20px;
  padding: 0.6rem 1rem;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
  box-shadow: 0 14px 28px rgb(75, 176, 169, 0.2),
    0 10px 10px rgb(75, 176, 169, 0.2);
}

.about a:hover {
  box-shadow: 0 20px 32px rgb(75, 176, 169, 0.3),
    0 10px 10px rgb(75, 176, 169, 0.3);
} */
