@import url("layout.css");

header .container {
  padding: 100px;
}
header h1 {
  font-size: 70pt;
  font-weight: 700;
  color: var(--mainWhite);
  letter-spacing: 1.5px !important;
}

header a {
  display: inline-block;
  color: var(--mainDark) !important;
  background-color: var(--mainBlue) !important;
  font-size: 1rem;
  font-family: "Raleway", sans-serif !important;
  font-weight: 600;
  line-height: 0.8;
  cursor: pointer;
  margin-top: 10px;
  border-image: initial;
  border-radius: 30px !important;
  padding: 0.8rem 1.75rem;
  text-decoration: none;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
  align-items: center;
}

header a:hover {
  color: #fff;
  background-color: rgba(84, 138, 156, 0.5) !important;
  text-decoration: none;
  opacity: 0.5;
}

header p {
  font-family: "Raleway", sans-serif !important;
  font-size: 12pt;
  font-weight: 600;
  color: var(--mainGreen);
}
