@import url("https://fonts.googleapis.com/css?family=Montserrat:700,800,800i&display=swap");
@import url("https://fonts.googleapis.com/css?family=Raleway:500,500i,600,600i&display=swap");
/*
font-family: 'Montserrat', sans-serif; 
font-family: 'Raleway', sans-serif;
*/
:root {
  --mainDark: rgb(23, 38, 43);
  --mainGreen: #317a79;
  --mainBlue: rgb(75, 176, 169);
  --mainGrey: #def1f1;
  --mainWhite: #ffffff;
}

body {
  background-color: var(--mainDark);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif !important;
  letter-spacing: 0.5pt;
  /* letter-spacing: 0.1rem !important; */
}

/* all link */
a {
  letter-spacing: 1px;
  color: #fff;
  display: inline-block;
  text-decoration-skip-ink: auto;
  color: inherit;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}

/* all h1 */
h1 {
  font-size: 60pt;
  font-weight: 700;
  color: var(--mainWhite);
  letter-spacing: 1.5px !important;
}

header p {
  font-family: "Raleway", sans-serif !important;
  font-size: 15pt;
  font-weight: 600;
  color: var(--mainGreen);
}

svg {
  width: 30px;
  height: 30px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header,
.about,
.project,
.contact {
  height: 100vh;
  padding: 100px;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--mainDark) !important;
}

header {
}

.hover figure img {
  filter: opacity(0.7);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.hover figure:hover img {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}

header a {
  color: var(--mainDark);
  background-color: var(--mainBlue);
  font-size: 1rem;
  font-family: "Raleway", sans-serif !important;
  font-weight: 600;
  line-height: 1;
  cursor: pointer;
  margin-top: 10px;
  border-image: initial;
  border-radius: 20px;
  padding: 0.8rem 1.75rem;
  text-decoration: none;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}

header a:hover {
  color: #fff;
  background-color: rgba(84, 138, 156, 0.5);
  text-decoration: none;
  /* opacity: 0.5; */
}
/* .about {
  background-color: var(--mainDark) !important;
  /* padding: 150px !important; 
  height: 100vh;
} */
/* #about p, */
.contact p {
  color: var(--mainBlue);
  font-size: 1.2rem;
  font-family: "Raleway", sans-serif !important;
}

/* #about p .email:hover {
  color: var(--mainWhite);
  text-decoration: none;
} */

.shania img {
  width: 250px;
  height: 250px;
  opacity: 0.8;
  /* float: right; */
  margin-right: 0;
  /* filter: grayscale(1); */
}

.shania img:hover {
  opacity: 1;
  filter: initial; /* For IE8 and earlier */
}

.about-div {
  padding-right: 70px;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem; /* Footer height */
  bottom: 0;
}

.contact p .email {
  background: linear-gradient(
    to bottom,
    var(--mainGreen) 0%,
    var(--mainGreen) 100%
  );
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: 2px 2px;
  color: #fff;
  text-decoration: none;
  transition: background-size 0.2s;
}

.contact p .email:hover {
  background-size: 4px 50px;
}

/* #about,
#project,
.contact {
  padding-top: 20vh;
  height: 90vh;
} */

@media only screen and (max-width: 768px) {
  header,
  /* #about, */
  #project,
  .contact {
    height: 100vh;
  }

  h1 {
    font-size: 30pt;
    font-weight: 700;
    color: var(--mainWhite);
    letter-spacing: 1.5px !important;
  }

  header p {
    font-size: 1rem;
    padding-right: 80px;
  }

  header a {
    color: var(--mainDark);
    background-color: var(--mainBlue);
    font-size: 0.8rem;
    font-family: "Raleway", sans-serif !important;
    font-weight: 600;
    cursor: pointer;
    margin-top: 0px;
    border-image: initial;
    border-radius: 20px;
    padding: 0.6rem 1rem;
    text-decoration: none;
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
  }

  /* #about p, */
  .contact p {
    font-size: 0.8rem;
  }
}

// test

section .about {
  margin: 2rem 0;
  height: 100vh;
  padding: 100px;
}

.about .container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 3rem;
  align-items: center;
  justify-content: center;
  justify-items: center;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: 19.5;
  margin-left: 19.5px;
}

.about h1 {
  font-size: 60pt;
  color: var(--mainWhite);

  padding-right: 15px;
  padding-left: 15px;
  margin-right: 19.5;
  margin-left: 19.5px;
}

.about p {
  margin: 1.5rem 0;
  color: var(--mainBlue);
  font-size: 16px;
  font-family: Raleway, sans-serif !important;
}

@media (max-width: 768px) {
  .about .container {
    grid-template-columns: 1fr;
    text-align: center;
    grid-gap: 0;
    padding: 0;
    margin: 0;
  }

  .about .container div:first-child {
    order: 2;
  }

  .about .container div:nth-child(2) {
    order: -1;
  }

  .about h1 {
    font-size: 30pt;
    font-weight: 700;
    color: var(--mainWhite);
    letter-spacing: 1.5px !important;
    margin: 0;
  }

  .about img {
    width: 60%;
    margin: auto;
    align-content: flex-start;
  }
}
