@import url("https://fonts.googleapis.com/css?family=Montserrat:700,800,800i&display=swap");
@import url("https://fonts.googleapis.com/css?family=Raleway:500,500i,600,600i&display=swap");
/*
font-family: 'Montserrat', sans-serif; 
font-family: 'Raleway', sans-serif;
*/
:root {
  --mainDark: rgb(23, 38, 43);
  --mainGreen: #317a79;
  --mainBlue: rgb(75, 176, 169);
  --mainGrey: #def1f1;
  --mainWhite: #ffffff;
}

body {
  background-color: var(--mainDark);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif !important;
  letter-spacing: 0.5pt;
  /* letter-spacing: 0.1rem !important; */
}

/* all link */
a {
  letter-spacing: 1px;
  color: #fff;
  display: inline-block;
  text-decoration-skip-ink: auto;
  color: inherit;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}

/* all h1 */
h1 {
  font-size: 60pt;
  font-weight: 700;
  color: var(--mainWhite);
  letter-spacing: 1.5px !important;
}

svg {
  width: 30px;
  height: 30px;
}

.container {
  /* display: inline-block; */
  flex-direction: column;
  justify-content: center;
}

.home,
.about,
.project,
.contact {
  height: 100vh;
  padding: 100px;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--mainDark) !important;
}

.hover figure img {
  filter: opacity(0.7);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.hover figure:hover img {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}

.shania img {
  width: 250px;
  height: 250px;
  opacity: 0.8;
  /* float: right; */
  margin-right: 0;
  /* filter: grayscale(1); */
}
/* 
.shania img:hover {
  opacity: 1;
  filter: initial; For IE8 and earlier
} */

@media only screen and (max-width: 768px) {
  header,
  /* #about, */
  #project,
  .contact {
    height: 100vh;
  }

  h1 {
    font-size: 30pt;
    font-weight: 700;
    color: var(--mainWhite);
    letter-spacing: 1.5px !important;
  }

  header p {
    font-size: 1rem;
    padding-right: 80px;
  }

  /* header a {
    color: var(--mainDark);
    background-color: var(--mainBlue);
    font-size: 0.8rem;
    font-family: "Raleway", sans-serif !important;
    font-weight: 600;
    cursor: pointer;
    margin-top: 0px;
    border-image: initial;
    border-radius: 20px;
    padding: 0.6rem 1rem;
    text-decoration: none;
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
  } */

  /* #about p, */
  .contact p {
    font-size: 0.8rem;
  }
}
