@import url("layout.css");

.navbar {
  padding: 8px 50px;
  background-color: var(--mainDark) !important;
  font-family: "Raleway", sans-serif !important;
  font-weight: 600;
}

.nav-link {
  color: var(--mainBlue) !important;
}

nav div ul li {
  margin: 5px;
  letter-spacing: 1px;
}

nav div ul li .nav-link,
nav div ul li .nav-link:after,
nav div ul li .nav-link:before {
  transition: all 0.5s;
}

nav div ul li .nav-link:hover {
  color: var(--mainWhite) !important;
}

nav div ul li .nav-link {
  position: relative;
  text-align: center;
}

nav div ul li .nav-link:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: ".";
  color: transparent;
  background: var(--mainGreen);
  height: 3px;
}
nav div ul li .nav-link:hover:after {
  width: 50%;
}

.navbar-dark .navbar-toggler {
  color: var(--mainGreen);
  border-color: transparent;
  outline: none;
}

@media only screen and (max-width: 768px) {
  nav div ul li .nav-link:after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: ".";
    color: transparent;
    background: var(--mainGreen);
    height: 3px;
  }
  nav div ul li .nav-link:hover:after {
    width: 10%;
  }
}

@media only screen and (max-width: 768px) {
  .navbar {
    padding: 8px 20px;
  }
}
