@import url("https://fonts.googleapis.com/css?family=Montserrat:700,800,800i&display=swap");
@import url("https://fonts.googleapis.com/css?family=Raleway:500,500i,600,600i&display=swap");
/*
font-family: 'Montserrat', sans-serif; 
font-family: 'Raleway', sans-serif;
*/
:root {
  --mainDark: rgb(23, 38, 43);
  --mainGreen: #317a79;
  --mainBlue: #4bb0a9;
  --mainGrey: #def1f1;
  --mainWhite: #ffffff;
}

/* .overlay {
  position: fixed;
  overflow-y: scroll;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
} */

body {
  background-color: var(--mainDark);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif !important;
  letter-spacing: 0.5pt;
  /* letter-spacing: 0.1rem !important; */
}

h1 {
  font-size: 60pt;
  font-weight: 700;
  color: var(--mainWhite);
  letter-spacing: 1.5px !important;
}

header p {
  font-family: "Raleway", sans-serif !important;
  font-size: 15pt;
  font-weight: 600;
  color: var(--mainGreen);
}

.navbar {
  background-color: var(--mainDark) !important;
  font-family: "Raleway", sans-serif !important;
  font-weight: 600;
}

.nav-link {
  color: var(--mainBlue) !important;
}

nav div ul li {
  margin: 5px;
  letter-spacing: 1px;
}

nav div ul li .nav-link,
nav div ul li .nav-link:after,
nav div ul li .nav-link:before {
  transition: all 0.5s;
}

nav div ul li .nav-link:hover {
  color: var(--mainWhite) !important;
}

nav div ul li .nav-link {
  position: relative;
}

nav div ul li .nav-link:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: ".";
  color: transparent;
  background: #4bb0a9;
  height: 3px;
}
nav div ul li .nav-link:hover:after {
  width: 50%;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header,
#about,
#project,
#contact {
  height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--mainDark) !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--mainDark) !important;
}

@media only screen and (max-width: 768px) {
  header,
  #about,
  #project,
  #contact {
    height: 100%;
    margin: 150px 0;
    padding: 150px 0;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--mainDark) !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--mainDark) !important;
  }
}

.hover figure img {
  filter: opacity(0.7);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.hover figure:hover img {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}

/* .square1 {
  background: var(--mainGreen);
  width: 100%;
  height: 100%;
  margin: auto;
  float: left;
  position: absolute;
  transition: transform 0.8s;
}

.square2 {
  background: #2b3f53;
  border-radius: 3px;
  height: 350px;
  width: 350px;
  align-content: center;
  margin: auto;
  margin-top: 100px;
  float: left;
  transition: transform 0.8s;
  position: absolute;
}
.square2:hover {
  transform: translate(-20px, -20px);
} */

/* @media only screen and (max-width: 600px) {
  .square2:hover {
    transform: initial;
  }
} */

header a {
  color: var(--mainDark);
  background-color: var(--mainBlue);
  font-size: 1rem;
  font-family: "Raleway", sans-serif !important;
  font-weight: 600;
  line-height: 1;
  cursor: pointer;
  /* padding: 10px; */
  margin-top: 20px;
  border-image: initial;
  border-radius: 20px;
  padding: 0.8rem 1.75rem;
  text-decoration: none;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}

a {
  letter-spacing: 1px;
  color: #fff;
  display: inline-block;
  text-decoration-skip-ink: auto;
  color: inherit;
  /* position: absolute; */
  cursor: pointer;
  text-decoration: none;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}

header a:hover {
  color: #fff;
  background-color: rgba(84, 138, 156, 0.5);
  text-decoration: none;
  /* opacity: 0.5; */
}

header a.email {
  all: initial;
  letter-spacing: 1px;
  /* display: inline-block; */
  color: inherit;
  font-size: 1rem;
  font-family: "Raleway", sans-serif !important;
  font-weight: 600;
  line-height: 0.5;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-content: right;
  /* padding: 50px; */
}
/* .about {
  background-color: var(--mainDark) !important;
  /* padding: 150px !important; 
  height: 100vh;
} */
#about p {
  color: var(--mainBlue);
  font-size: 1.2rem;
  font-family: "Raleway", sans-serif !important;
}
#about p .email:hover {
  color: var(--mainWhite);
  text-decoration: none;
}

.border {
  border: 0 !important;
}

.inner-width {
  overflow: hidden;
  margin: auto;
  /* border: transparent; */
}
.about-row {
  display: flex;
  flex-wrap: wrap;
}

@media only screen and (max-width: 768px) {
  .about-row {
    display: flex;
    flex-direction: column;
  }
  .about-col {
    flex: 100%;
  }
}

.about-col {
  flex: 50%;
}

.about-col .shania {
  justify-content: right;
}

.shania img:after,
nav:before {
  transition: all 0.5s;
}

.shania img {
  width: 80%;
  opacity: 0.8;
  margin: 10%;
  margin-right: 0;
  /* filter: grayscale(1); */
}

.shania img:hover {
  opacity: 1;
  filter: initial; /* For IE8 and earlier */
}

.about-div {
  padding-right: 70px;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem; /* Footer height */
  bottom: 0;
}

#contact p {
  color: var(--mainBlue);
  font-size: 1.2rem;
  /* letter-spacing:  */
  font-family: "Raleway", sans-serif !important;
  height: 20vh;
}

/* #contact p .email:hover {
  color: var(--mainWhite);
  text-decoration: none;
}

#contact p .email {
  border-bottom: 1px solid #453886;
  color: #453886;
  padding-bottom: 0.25em;
  text-decoration: none;
} */

#contact p .email {
  background: linear-gradient(
    to bottom,
    var(--mainGreen) 0%,
    var(--mainGreen) 100%
  );
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: 2px 2px;
  color: #fff;
  text-decoration: none;
  transition: background-size 0.2s;
}

#contact p .email:hover {
  background-size: 4px 50px;
}

.footer {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  background: var(--mainDark);
}

.copyright {
  color: var(--mainBlue) !important;
  font-size: 15px !important;
  font-family: "Raleway", sans-serif !important;
  font-weight: 600;
}
